Add some basic styling
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Create a container for the text area and save button */
.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Style the text area */
textarea {
  width: 50vw;
  height: 70vh;
  padding: 18px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 26px;
  resize: none;
  font-family: Arial, sans-serif;
  margin: 10px;
}

button {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}


button:hover {
  animation: save-animation 0.5s infinite alternate ease-in-out;
}

button-special {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    padding: 6px;
    border-radius: 301px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    font-size: 15px;
  }
  
button-special:hover {
    animation: save-animation 0.5s infinite alternate ease-in-out;
  }

/* Animation for the save button */
@keyframes save-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Style the saved notes container */
.saved-notes {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
}

/* Style the saved note box */
.saved-note {
  padding: 20px;
  margin-bottom: 5.5vh;
  border: 2px solid #ccc;
  border-radius: 16px;
  background-color: #f8f8f8;
  position: relative;
  z-index: 0;
}

/* Style the saved note emoji */
.saved-note img {
  position: absolute;
  top: -10px;
  left: -10px;
}

/* Style the saved note timestamp */
.saved-note .timestamp {
  font-size: 12px;
  color: #555;
  position: absolute;
  bottom: -20px;
  right: 20px;
}

/* Style the emoji as its own little box */
.saved-note .emoji {
  position: absolute;
  z-index: 1;
  font-size: 232%;
  top: -25px;
  left: -20px;
}

/* Animation for the text area flash */
@keyframes flash {
  from {
    background-color: #fff;
  }
  to {
    background-color: #f8f8f8;
  }
}

/* Style the remove button */
.remove-btn {
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: #ffb3b354;
  color: #000;
  border-radius: 49%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: inherit;
  padding: 1px;
  font-size: 16px;
}

.title {
  font-size: 5vh;
  text-align: center;
  border: 2px #bfb9b9 solid;
  font-family: Georgia;
  position: relative;
}

.github-button {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 21px;
  text-decoration: none;
  font-size: 2vh;
}

@keyframes fadeOut {
  0% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}

@media (max-width: 800px) {
  /* Change container width to 100% on mobile */
  .container {
    width: 100%;
  }

  /* Change text area width and height to 90% on mobile */
  textarea {
    width: 40%;
    height: 40%;
  }

  .title {
    font-size: 10px;
  }

  .github-button {
    font-size: 5px;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border-radius: 21px;
    text-decoration: none;
  }

  h2 {
    font-size: 5px;
  }

  button {
    font-size: 5px;
  }
}

.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Content inside the overlay */
.overlay-content {
  position: relative;
  background-color: #fcfcfc;
  margin: 15% auto;
  padding: 22px;
  border: 3px solid #747474;
  width: 80%;
  border-radius: 33px;
}

/* Add a "show" class to the overlay when the button is clicked */
.overlay.show {
  display: block;
}

#updates-section {
    position: absolute;
    left: 0;
    top: 7.5vh;
    width: 20vw;
    height: fit-content;
    background-color: #f8f8f8;
    overflow: auto;
    display: block;
    border: 2px solid #d9d9d9;
    border-radius: 16px;
    padding: 11px;
    margin: 11px;
    line-height: 27px;
  }
  

  .save {
    position: absolute;
    top: 73.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: all-scroll;
    font-size: 95%;
    transition: all 0.5s ease-in-out;
}

/* Style the export PDF button */
button.export-pdf {
    position: relative; /* add this to make the overlay appear on top of the button */
}

/* Show a warning overlay when the button is hovered */
button.export-pdf:hover::before {
    content: "Early development warning"; /* Add warning message */
    position: absolute; /* Position the overlay on top of the button */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Position the overlay at the center of the button */
    background-color: rgba(255, 0, 0, 0.8); /* Use a semi-transparent red background */
    color: white; /* Use white text */
    padding: 10px; /* Add some padding */
    border-radius: 10px; /* Add rounded corners */
    font-size: 14px; /* Adjust the font size */
    visibility: visible; /* Make the overlay visible */
    opacity: 1; /* Make the overlay opaque */
    transition: all 3s ease-in-out; /* Add a smooth transition */
}

/* Hide the overlay when the button is not hovered */
button.export-pdf::before {
    visibility: hidden; /* Make the overlay hidden */
    opacity: 0; /* Make the overlay transparent */
    transition: all 3s ease-in-out;
}

button.warning-sort {
    position: relative; /* add this to make the overlay appear on top of the button */
}

/* Show a warning overlay when the button is hovered */
button.warning-sort:hover::before {
    content: "Early development! (This breaks the deleting of saved notes)"; /* Add warning message */
    position: absolute; /* Position the overlay on top of the button */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Position the overlay at the center of the button */
    background-color: rgba(255, 0, 0, 0.8); /* Use a semi-transparent red background */
    color: white; /* Use white text */
    padding: 10px; /* Add some padding */
    border-radius: 10px; /* Add rounded corners */
    font-size: 14px; /* Adjust the font size */
    visibility: visible; /* Make the overlay visible */
    opacity: 1; /* Make the overlay opaque */
    transition: all 3s ease-in-out; /* Add a smooth transition */
    width: 100px;
}

/* Hide the overlay when the button is not hovered */
button.warning-sort::before {
    visibility: hidden; /* Make the overlay hidden */
    opacity: 0; /* Make the overlay transparent */
    transition: all 3s ease-in-out;
}

button-special.warning-sort-darkmode {
    position: relative; /* add this to make the overlay appear on top of the button */
}

/* Show a warning overlay when the button is hovered */
button-special.warning-sort-darkmode:hover::before {
    content: "Not fully intergrated!"; /* Add warning message */
    position: absolute; /* Position the overlay on top of the button */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Position the overlay at the center of the button */
    background-color: rgba(255, 0, 0, 0.8); /* Use a semi-transparent red background */
    color: white; /* Use white text */
    padding: 10px; /* Add some padding */
    border-radius: 10px; /* Add rounded corners */
    font-size: 14px; /* Adjust the font size */
    visibility: visible; /* Make the overlay visible */
    opacity: 1; /* Make the overlay opaque */
    transition: all 3s ease-in-out; /* Add a smooth transition */
    width: 100px;
}

/* Hide the overlay when the button is not hovered */
button-special.warning-sort-darkmode::before {
    visibility: hidden; /* Make the overlay hidden */
    opacity: 0; /* Make the overlay transparent */
    transition: all 3s ease-in-out;
}

.dark-mode {
    background-color: #000;
    color: white;
  }
  
  .dark-mode button {
    background-color: rgb(255, 255, 255);
    color: #000;
  }  

   
  .dark-mode github-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }  

  .dark-mode button-special{
    background-color: rgb(255, 255, 255);
    color: #000;
  }
  